<%-# ---------------contact.html.erb ----------------------------------------------------- %>
<%-# ---          11.000-Contact-html.txt                                                  %>
<%-# ------------------------------------------------------------------------------------- %>
<%-# 3.4.3 Layouts and embedded Ruby (Refactor)                                            %>
<%-# https://www.railstutorial.org/book/static_pages#sec-layouts_and_embedded_ruby         %>
<%-# --- practice question                                                                 %>
<%-# ------------------------------------------------------------------------------------- %>
<%-#                                                                                       %>
<%-#  gedit app/views/static_pages/contact.html.erb                                        %>
<%-#                                                                                       %>
<% provide(:title, 'Contact') %>
<h1>Sample App</h1>
<p>
  This is the contact page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<%-# -------------------------------------------------------------------------------------- %>
