<%-# ---------------help.html.erb ----------------------------------------------------- %>
<%-# -          11.000-Help-html.txt                                                    %>
<%-# ---------------------------------------------------------------------------------- %>
<%-# 3.3.4 Eliminating duplication with layouts                                         %>
<%-# https://www.railstutorial.org/book/static_pages#sec-layouts                        %>
<%-# ---------------------------------------------------------------------------------- %>
<%-# Listing 3.34: The Help page with HTML structure removed                           %>
<%-# https://www.railstutorial.org/book/static_pages#code-help_view_interior            %>
<%-#                                                                                    %>
<%-# gedit app/views/static_pages/help.html.erb                                         %>
<%-#                                                                                    %>
<%-# ---------------------------------------------------------------------------------- %>
<%-#                                                                                    %>
<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
<%-# ----------------------------------------------------------------------------------- %>
