<%-# ---------------home.html.erb ----------------------------------------------------- %>
<%-# ---        11.000-Home-html.txt                                                    %>
<%-# ---------------------------------------------------------------------------------- %>
<%-# ---                                                                                %>
<%-# 3.4.3 Layouts and embedded Ruby (Refactor)                                         %>
<%-# https://www.railstutorial.org/book/static_pages#sec-layouts_and_embedded_ruby      %>
<%-#                                                                                    %>
<%-# Listing 3.33: The Home page with HTML structure removed.                           %>
<%-# https://www.railstutorial.org/book/static_pages#code-home_view_interior            %>
<%-#                                                                                    %>
<%-#  gedit app/views/static_pages/home.html.erb                                        %>
<%-#                                                                                    %>
<%-# ---------------------------------------------------------------------------------- %>
<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<%-# ----------------------------------------------------------------------------------- %>
<%-# The distinction between the two types of embedded Ruby is that < % ... % > executes %>
<%-# the code inside, while < %= ... % > executes it and inserts the result into the     %>
<%-# template.  The resulting page is exactly the same as before, only now the variable  %>
<%-# part of the title is generated dynamically by ERb.                                  %>
<%-# ----------------------------------------------------------------------------------- %>
